@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
  box-sizing: border-box;
}

.carta {
  text-align: center;
  display: inline-block;
  width: 300px;
  height: 500px;
  background-color: white;
  margin: auto;
  border-radius: 5px;
  font-size: 80px;
  padding: 20px;
  padding-top: 180px;
  border: 1px solid black;
  position: relative;
  border: groove;
}

&:before {
  position: absolute;
  left: 20px;
  font-size: 80px;
  top: 20 px;
}

&:after {
  position: absolute;
  left: 20px;
  font-size: 80px;
  top: 20 px;
}

&.spade:before,
&.spade:after {
  content: "\2660";
}
&.club:before,
&.club:after {
  content: "\2663";
}
&.heart:before,
&.heart:after {
  content: "\2665";
}
&.diamond:before,
&.diamond:after {
  content: " \2666";
}
